interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":597748}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A39860733300042
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":1,"debut":0,"nombre":1},"liensSuccession":[{"siretEtablissementPredecesseur":"39860733300042","siretEtablissementSuccesseur":"39860733300059","dateLienSuccession":"2015-01-09","transfertSiege":true,"continuiteEconomique":true,"dateDernierTraitementLienSuccession":"2014-12-02T06:33:11"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A39860733300042&debut=0&nombre=1>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A39860733300042&debut=0&nombre=1>;
        rel="last"
      X-Total-Count:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":2,"debut":0,"nombre":2},"liensSuccession":[{"siretEtablissementPredecesseur":"00555008200027","siretEtablissementSuccesseur":"00605009000031","dateLienSuccession":"2004-04-01","transfertSiege":false,"continuiteEconomique":false,"dateDernierTraitementLienSuccession":"2005-11-26T11:54:04"},{"siretEtablissementPredecesseur":"00555008200027","siretEtablissementSuccesseur":"00605009000049","dateLienSuccession":"2004-04-01","transfertSiege":false,"continuiteEconomique":false,"dateDernierTraitementLienSuccession":"2005-11-26T11:54:04"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01&debut=0&nombre=2>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01&debut=0&nombre=2>;
        rel="last"
      X-Total-Count:
      - '2'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":2,"debut":0,"nombre":2},"liensSuccession":[{"siretEtablissementPredecesseur":"00555008200027","siretEtablissementSuccesseur":"00605009000049","dateLienSuccession":"2004-04-01","transfertSiege":false,"continuiteEconomique":false,"dateDernierTraitementLienSuccession":"2005-11-26T11:54:04"},{"siretEtablissementPredecesseur":"00555008200027","siretEtablissementSuccesseur":"00605009000031","dateLienSuccession":"2004-04-01","transfertSiege":false,"continuiteEconomique":false,"dateDernierTraitementLienSuccession":"2005-11-26T11:54:04"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01&debut=0&nombre=2>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01&debut=0&nombre=2>;
        rel="last"
      X-Total-Count:
      - '2'
    status:
      code: 200
      message: ''
version: 1
