interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A39860733300042
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":1,"debut":0,"nombre":1},"liensSuccession":[{"siretEtablissementPredecesseur":"39860733300042","siretEtablissementSuccesseur":"39860733300059","dateLienSuccession":"2015-01-09","transfertSiege":true,"continuiteEconomique":true,"dateDernierTraitementLienSuccession":"2024-03-22T11:12:05.000"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/V3.11/publique/siret/liensSuccession?q=siretEtablissementPredecesseur%253A39860733300042&debut=0&nombre=1>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/V3.11/publique/siret/liensSuccession?q=siretEtablissementPredecesseur%253A39860733300042&debut=0&nombre=1>;
        rel="last"
      X-Gravitee-Client-Identifier:
      - 0b45988f-e76d-4ea7-8598-8fe76d1ea7aa
      X-Gravitee-Request-Id:
      - 92bf2eeb-1ebb-427b-bf2e-eb1ebbc27be6
      X-Gravitee-Transaction-Id:
      - 92bf2eeb-1ebb-427b-bf2e-eb1ebbc27be6
      X-Rate-Limit-Limit:
      - '30'
      X-Rate-Limit-Remaining:
      - '24'
      X-Rate-Limit-Reset:
      - '1725974715180'
      X-Total-Count:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A00555008200027+AND+dateLienSuccession%3A2004-04-01
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":2,"debut":0,"nombre":2},"liensSuccession":[{"siretEtablissementPredecesseur":"00555008200027","siretEtablissementSuccesseur":"00605009000031","dateLienSuccession":"2004-04-01","transfertSiege":false,"continu[...]
