interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":603046}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/informations
  response:
    body:
      string: "{\"header\":{\"statut\":200,\"message\":\"OK\"},\"etatService\":\"\
        UP\",\"etatsDesServices\":[{\"Collection\":\"Unit\xE9s L\xE9gales\",\"etatCollection\"\
        :\"UP\"},{\"Collection\":\"\xC9tablissements\",\"etatCollection\":\"UP\"},{\"\
        Collection\":\"Liens de succession\",\"etatCollection\":\"UP\"}],\"versionService\"\
        :\"3.11.20\",\"journalDesModifications\":\"https://api.insee.fr/registry/resource/_system/governance/apimgt/applicationdata/provider/insee/Sirene/V3.11/documentation/files/changelog%203.11.txt\"\
        ,\"datesDernieresMisesAJourDesDonnees\":[{\"collection\":\"Unit\xE9s L\xE9\
        gales\",\"dateDerniereMiseADisposition\":\"2024-03-27T01:20:02.000\",\"dateDernierTraitementMaximum\"\
        :\"2024-03-26T23:43:50.188\",\"dateDernierTraitementDeMasse\":\"2024-03-26T23:43:50.188\"\
        },{\"collection\":\"\xC9tablissements\",\"dateDerniereMiseADisposition\":\"\
        2024-03-27T04:27:22.000\",\"dateDernierTraitementMaximum\":\"2024-03-27T01:16:01.889\"\
        ,\"dateDernierTraitementDeMasse\":\"2024-03-27T01:16:01.889\"},{\"collection\"\
        :\"Liens de succession\",\"dateDerniereMiseADisposition\":\"2024-03-27T04:35:50.000\"\
        ,\"dateDernierTraitementMaximum\":\"2024-03-27T03:28:21.341\",\"dateDernierTraitementDeMasse\"\
        :\"2024-03-27T03:28:21.341\"}]}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: ''
version: 1
