interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":603047}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siren?nombre=0
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":26631513,"debut":0,"nombre":0},"unitesLegales":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://api.insee.fr/entreprises/sirene/V3.11/siren?nombre=0&debut=0>; rel="first"
      X-Total-Count:
      - '26631513'
    status:
      code: 200
      message: ''
version: 1
