interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":495797}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene3/V3.11/informations
  response:
    body:
      string: "{\"etatService\":\"UP\",\"etatsDesServices\":[{\"Collection\":\"Unit\xE9s
        L\xE9gales\",\"etatCollection\":\"UP\"},{\"Collection\":\"\xC9tablissements\",\"etatCollection\":\"UP\"},{\"Collection\":\"Liens
        de succession\",\"etatCollection\":\"UP\"},{\"Collection\":\"Refus d'immatriculation
        au RCS\",\"etatCollection\":\"UP\"}],\"versionService\":\"3.11.5\",\"journalDesModifications\":\"https://api.insee.fr/registry/resource/_system/governance/apimgt/applicationdata/provider/insee/Sirene/V3/documentation/files/changelog.txt\",\"datesDernieresMisesAJourDesDonnees\":[{\"collection\":\"Unit\xE9s
        L\xE9gales\",\"dateDerniereMiseADisposition\":null,\"dateDernierTraitementMaximum\":\"2022-12-16T18:45:03\",\"dateDernierTraitementDeMasse\":null},{\"collection\":\"\xC9tablissements\",\"dateDerniereMiseADisposition\":null,\"dateDernierTraitementMaximum\":\"2022-12-18T07:17:25.990Z\",\"dateDernierTraitementDeMasse\":null},{\"collection\":\"Liens
        de succession\",\"dateDerniereMiseADisposition\":null,\"dateDernierTraitementMaximum\":\"2022-11-10T21:49:24\",\"dateDernierTraitementDeMasse\":null},{\"collection\":\"Refus
        d'immatriculation au RCS\",\"dateDerniereMiseADisposition\":\"2023-05-04T19:18:25\",\"dateDernierTraitementMaximum\":null,\"dateDernierTraitementDeMasse\":null}]}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: ''
version: 1
