interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":597750}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siren?curseur=%2A&nombre=100
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":26229253,"debut":0,"nombre":100,"curseur":"*","curseurSuivant":"AoEpMDA1NDUwMDEw"},"unitesLegales":[{"siren":"000325175","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"2000-09-26","sigleUniteLegale":null,"sexeUniteLegale":"M","prenom1UniteLegale":"THIERRY","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"THIERRY","pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":"2019-12-13T13:21:28","nombrePeriodesUniteLegale":6,"categorieEntreprise":"PME","anneeCategorieEntreprise":"2020","periodesUniteLegale":[{"dateFin":null,"dateDebut":"2018-02-07","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":"JANOYER","changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":null,"changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"1000","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"32.12Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00065","changementNicSiegeUniteLegale":true,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"societeMissionUniteLegale":null,"changementSocieteMissionUniteLegale":false,"caractereEmployeurUniteLegale":"N","changementCaractereEmployeurUniteLegale":false},{"dateFin":"2018-02-06","dateDebut":"2014-01-07","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":"JANOYER","changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":null,"changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":fals[...]
[...]
