interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":597747}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=unitePurgeeUniteLegale%3ATrue
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siren
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":4359342,"debut":0,"nombre":20},"unitesLegales":[{"siren":"314077215","statutDiffusionUniteLegale":"O","unitePurgeeUniteLegale":true,"dateCreationUniteLegale":"1978-01-01","sigleUniteLegale":null,"sexeUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":null,"nombrePeriodesUniteLegale":1,"categorieEntreprise":null,"anneeCategorieEntreprise":null,"periodesUniteLegale":[{"dateFin":null,"dateDebut":null,"etatAdministratifUniteLegale":"C","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"TPS
        TOUTES PRESTATIONS SERVICE","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"5499","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"77.13","nomenclatureActivitePrincipaleUniteLegale":"NAP","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00015","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"societeMissionUniteLegale":null,"changementSocieteMissionUniteLegale":false,"caractereEmployeurUniteLegale":"N","changementCaractereEmployeurUniteLegale":false}]},{"siren":"314077249","statutDiffusionUniteLegale":"O","unitePurgeeUniteLegale":true,"dateCreationUniteLegale":"1978-01-01","sigleUniteLegale":null,"sexeUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":null,"nombrePe[...]
[...]
