interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siren/809893225
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK"},"uniteLegale":{"siren":"809893225","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"2015-01-01","sigleUniteLegale":null,"sexeUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":"2024-03-22T14:26:06.000","nombrePeriodesUniteLegale":2,"categorieEntreprise":"PME","anneeCategorieEntreprise":"2021","periodesUniteLegale":[{"dateFin":null,"dateDebut":"2022-03-31","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"PAPANGOO","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"5710","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"47.91B","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00015","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":"N","changementEconomieSocialeSolidaireUniteLegale":true,"societeMissionUniteLegale":null,"changementSocieteMissionUniteLegale":false,"caractereEmployeurUniteLegale":null,"changementCaractereEmployeurUniteLegale":false},{"dateFin":"2022-03-30","dateDebut":"2015-01-01","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"PAPANGOO","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"5710","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"47.91B","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00015","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"societeMissionUniteLegale":null,"changementSocieteMissionUniteLegale":false,"caractereEmployeurUniteLegale":null,"changementCaractereEmployeurUniteLegale":false}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gravitee-Client-Identifier:
      - 0b45988f-e76d-4ea7-8598-8fe76d1ea7aa
      X-Gravitee-Request-Id:
      - 74ccc42f-6880-43cc-8cc4-2f688043ccd8
      X-Gravitee-Transaction-Id:
      - 74ccc42f-6880-43cc-8cc4-2f688043ccd8
      X-Rate-Limit-Limit:
      - '30'
      X-Rate-Limit-Remaining:
      - '22'
      X-Rate-Limit-Reset:
      - '1725974715180'
    status:
      code: 200
      message: ''
version: 1
