interactions:
- request:
    body: q=unitePurgeeUniteLegale%3ATrue
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/api-sirene/3.11/siren
  response:
    body:
      string: '{"header":{"statut":200,"message":"OK","total":4275078,"debut":0,"nombre":20},"unitesLegales":[{"siren":"427811179","statutDiffusionUniteLegale":"O","unitePurgeeUniteLegale":true,"dateCreationUniteLegale":"1980-01-01","sigleUniteLegale":null,"sexeUniteLegale":"M","prenom1UniteLegale":"ROGER","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"ROGER","pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":"2024-03-22T14:26:06.000","nombrePeriodesUniteLegale":1,"categorieEntreprise":null,"anneeCategorieEntreprise":null,"periodesUniteLegale":[{"dateFin":null,"dateDebut":"1986-06-01","etatAdministratifUniteLegale":"C","changementEtatAdministratifUniteLegale":true,"nomUniteLegale":"MAZEVET","changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":null,"changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"1000","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"01.3Z","nomenclatureActivitePrincipaleUniteLegale":"NAF1993","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00014","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"societeMissionUniteLegale":null,"changementSocieteMissionUniteLegale":false,"caractereEmployeurUniteLegale":null,"changementCaractereEmployeurUniteLegale":false}]},{"siren":"427812060","statutDiffusionUniteLegale":"O","unitePurgeeUniteLegale":true,"dateCreationUniteLegale":"1972-03-01","sigleUniteLegale":null,"sexeUniteLegale":"M","prenom1UniteLegale":"VALENTIN","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"VALENTIN","pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":"20[...]
