interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":597751}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: q=codeCommuneEtablissement%3A92046+AND+unitePurgeeUniteLegale%3ATrue
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret
  response:
    body:
      string: 'siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablisse[...]
[...]
