interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret/39860733300059
  response:
    body:
      string: '{"header":{"statut":200,"message":"ok"},"etablissement":{"siren":"398607333","nic":"00059","siret":"39860733300059","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2015-01-09","trancheEffectifsEtablissement":null,"anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":"5610CR","dateDernierTraitementEtablissement":"2024-03-30T17:23:40.109","etablissementSiege":false,"nombrePeriodesEtablissement":4,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1994-10-10","categorieJuridiqueUniteLegale":"1000","denominationUniteLegale":null,"sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":"M","nomUniteLegale":"GRONDIN","nomUsageUniteLegale":null,"prenom1UniteLegale":"BERTRAND","prenom2UniteLegale":"CHARLES","prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"BERTRAND","pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"56.10C","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":null,"societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"nicSiegeUniteLegale":"00083","dateDernierTraitementUniteLegale":"2024-07-22T11:22:53.090","categorieEntreprise":null,"anneeCategorieEntreprise":null},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"44","indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"NANTIER
        DIDIEE","codePostalEtablissement":"97490","libelleCommuneEtablissement":"SAINT-DENIS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"97411","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":"974110993_B","coordonneeLambertAbscisseEtablissement":"341934.82516478025","coordonneeLambertOrdonneeEtablissement":"7688234.164296751"},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2016-04-01","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":"MON
        CHINOIS PREFERE","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":"CHAPO
        LA PAILLE","changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"56.10C","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2016-03-31","dateDebut":"2016-02-16","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"MON
        CHINOIS PREFERE","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":true,"denominationUsuelleEtablissement":"CHAPO
        LA PAILLE","changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"56.10C","nomenclatureActivitePrincipaleEtablissement":"NA[...]
