interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.insee.fr/token
  response:
    body:
      string: '{"access_token":"00000000-0000-0000-0000-000000000000","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":597733}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.insee.fr/entreprises/sirene/V3.11/siret/39860733300059
  response:
    body:
      string: '{"header":{"statut":200,"message":"ok"},"etablissement":{"siren":"398607333","nic":"00059","siret":"39860733300059","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2015-01-09","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":"5610CR","dateDernierTraitementEtablissement":"2019-11-14T14:01:06","etablissementSiege":false,"nombrePeriodesEtablissement":4,"uniteLegale":{"etatAdministratifUniteLegale":"C","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1994-10-10","categorieJuridiqueUniteLegale":"1000","denominationUniteLegale":null,"sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":"M","nomUniteLegale":"GRONDIN","nomUsageUniteLegale":null,"prenom1UniteLegale":"BERTRAND","prenom2UniteLegale":"CHARLES","prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"BERTRAND","pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"47.81Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":null,"societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":"O","trancheEffectifsUniteLegale":"NN","anneeEffectifsUniteLegale":null,"nicSiegeUniteLegale":"00075","dateDernierTraitementUniteLegale":"2018-09-29T12:24:50","categorieEntreprise":null,"anneeCategorieEntreprise":null},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"44","indiceRepetitionEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"NANTIER
        DIDIEE","codePostalEtablissement":"97490","libelleCommuneEtablissement":"SAINT-DENIS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"97411","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2016-04-01","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":"MON
        CHINOIS PREFERE","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":"CHAPO
        LA PAILLE","changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"56.10C","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2016-03-31","dateDebut":"2016-02-16","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"MON
        CHINOIS PREFERE","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":true,"denominationUsuelleEtablissement":"CHAPO
        LA PAILLE","changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"56.10C","nomenclatureActivitePrincipaleEtablissement":"NA[...]
[...]
